# version: "3.9"

services:

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - bigdata_net

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_CREATE_TOPICS: "reddit:1:1,finance:1:1,sentiment:1:1"
    depends_on:
      - zookeeper
    networks:
      - bigdata_net

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - bigdata_net

  reddit_collector:
    build: ./reddit_collector
    container_name: reddit_collector
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - bigdata_net

  finance_collector:
    build: ./finance_collector
    container_name: finance_collector
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - bigdata_net

  sentiment_service:
    build: ./sentiment_service
    container_name: sentiment_service
    depends_on:
      - kafka
      - mongodb
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      MONGO_URI: mongodb://mongodb:27017
    networks:
      - bigdata_net

  dashboard:
    build: ./dashboard
    container_name: dashboard
    ports:
      - "8501:8501"
    depends_on:
      - mongodb
    networks:
      - bigdata_net

volumes:
  mongo_data:

networks:
  bigdata_net:
    external: true
